<!--
  ECE 258
  Eleni & Kevin
  Project: Color Detecting Device for Beginner Painters and Educators 
  Web Application 
  - About: some info about the project && images from the process-->

  <!DOCTYPE html>
  <html lang="en">
  
  <head>
  
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
    <title> Color Detecting Device for Beginner Painters and Educators </title> 
  
    <link rel="stylesheet" href="styles.css">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  </head>
  
  <body>
  
  <!-- PAGE TITLE -->  
  <h1> <br> Color Detecting Device <br> for Beginner Painters and Educators <br><br> </h1>
  
  <!-- NAVBAR -->  
  
  
  <div class="topnav">
  
    <ul class="nav-items">
    <li class="items"><a href="home_page.html" class="nav-element">|HOME|</a></li>
    <li class="items"><a href="about_us.html" class="nav-element">|who we are|</a></li>
    <li class="items"><a href="about.html" class="nav-element">|this project|</a></li>
    </ul>
  
  </div>
  
  <!-- MAIN PAGE-->
  <br><br><br>
  <h2>/About This Project/</h2>
  <br>
  <p class="text"> We are proposing the design and assembly of a small color detecting device for beginner painters and educators. <br> This product aims to help people who are interested in learning about color theory and how to practically 
    <br> blend colors to achieve the desired hue of a color. The sensor will read the color of different surfaces  <br>
    (e.g. on walls, objects, other images etc.) in order to help determine the color code of the color detected and  <br>
    therefore propose to the user ways and methods for them to reproduce the observed color using their color paints <br> 
    by sending the data collected from the color sensor to a web application. Using an RGB sensor we will be able to  <br> 
    detect the color observed by the sensor into combinations of primary colors in order to help the user determine what  <br>
    mixtures they may need to do in order to come up with the desired color. Our product will consist of a number of different <br>
    sensors that will work together to enhance the performance of the device and make it more accurate. Some of these  <br> 
    parts/sensors are: a touchscreen interface / screen display, a distance sensor (to detect how close the device is  <br> 
    from the object), a sensor that detects whether or not the device is on the observed surface, a motion sensor that helps  <br>
    the user “wake the device up” by moving it etc. We will also use an ESP8266 microchip to establish the wifi connection  <br>
    with the web application.</p>
  <br>
  <!--insert images and/or from the process of assembling the device-->

  <!-- FOOTER -->  
  <div class="footer">
    <br>
    <p>Copyright 2022©</p>
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  </body>
  </html>